body {
  background-image: url(./background.png);
  background-size: contain; /* or background-size: 500px 300px; */
  background-position: center;
}

canvas {
    z-index: 1;
    margin-top: 50px; /* or position: relative; top: -20px; */
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.score-container {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
