body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #000000;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.score-container {
    text-align: center;
    font-size: 20px;
    color: yellow;
    margin-top: 10px;
}

#welcomeScreen {
    background: url('trav2taynewwelcomescreen.gif') no-repeat center center;
    background-size: contain;
    width: 100%; /* Adjust to match the width of the canvas */
    height: 60%; /* Adjust to match the height of the canvas */
    position: absolute;
    top: 0;
    left: 0;
}

/* Custom Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #000000; /* Black background */
    color: #FFFFFF; /* White text */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #FFFFFF; /* White border */
    width: 80%;
    text-align: center;
}

.close {
    color: #FFFFFF; /* White text */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #CCCCCC; /* Lighter color for visibility on hover/focus */
    text-decoration: none;
    cursor: pointer;
}

#playAgainBtn,
.contact-btn {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    color: #FFFFFF; /* White text */
    font-weight: bold; /* Bold text */
}

#playAgainBtn {
    background-color: red; /* Red background color */
    padding: 15px 30px; /* Increased padding for a larger button */
    font-size: 21px; /* Larger font size */
}

.contact-btn {
    background-color: #008CBA;
}
