body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #000000;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.score-container {
    text-align: center;
    font-size: 20px;
    color: yellow
    margin-top: 10px;
}

#welcomeScreen {
  background: url('trav2taywelcomescreendec17.gif') no-repeat center center;
  background-size: contain;
  width: 100%;   /* Adjust to match the width of the canvas */
  height: 100%;  /* Adjust to match the height of the canvas */
  position: absolute;
  top: 0;
  left: 0;
}
