body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fafafa; /* Light blue hex code */
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.score-container {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
